.center-block {
  display: table;
  margin: auto;
}

.value-field {
  font-size: 20px;
  cursor: pointer;

  .glyphicon {
    font-size: 16px;
  }
}

.btn-roll {
  background: #6a89c3!important;

  span {
    display: block;
    margin: 10px 52px;
  }
  img {
    margin: 0px 74px;
    height: 44px;
  }
}

td.red {
  color: red;
}

td.green {
  color: green;
}
